sentence-transformers==2.2.2
huggingface-hub==0.20.3   
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain-community
langchain_openai
langchain-experimental
langchain-huggingface
accelerate
transformers
torch